@import "tailwindcss";
@import "tw-animate-css";

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-saira);
  --bg-violet-custom: #13002D;
  --bg-gradient-custom: linear-gradient(90deg, #13002D 0%, #A0006D 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron);
}

bg-violet-custom {
  background-color: var(--bg-violet-custom);
}
